<h1>Edit Coupon</h1>

<center>
  <%= form_tag "/merchant/coupons/#{@coupon.id}", method: :patch do %>
    <%= label_tag :name %>
    <%= text_field_tag :name, @coupon.name %>

    <%= label_tag :code %>
    <%= text_field_tag :code, @coupon.code %>

    <%= label_tag :value_off %>
    <%= text_field_tag :value_off, @coupon.value_off %>

    <%= submit_tag 'Update Coupon' %>
  <% end %>
</center>
